html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
}

.padded {
  padding: 2px;
}

#controls {
  align: center;
}

.control {
  display: inline;
  text-decoration: underline;
}

.control_divider {
  display: inline;
}


.editors {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.column {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.row {
  display: flex;
  flex: 1;
  flex-flow: row;
}

textarea {
  flex: 1;
  resize: none;
  display: block;
}

#footer {
  flex: 0.3;
  display: flex;
  flex-flow: row;
}

#help_wrapper {
  display: none;
}