main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;
  font-family: sans-serif;
}

main * {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

textarea {
  font-family: monospace;
  font-size: 0.8em;
  max-width: 96%;
  overflow: scroll;
  padding-bottom: 0.5em;
  background-color: #FAFEFE;
}
